. COACHTECH {
  width: 1500px;
  position: relative;
}

.top {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.title {
  width: 500px;
  color: rgb(33, 33, 179);
  font-weight: bold;
  font-size: 30px;
}

.flex {
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.link1 {
  margin-left: 15px;
  color: rgb(33, 33, 179);
  text-decoration: none;
}

.link2 {
  margin-left: 15px;
  color: rgb(33, 33, 179);
  text-decoration: none;
}

.link3 {
  margin-left: 15px;
  color: rgb(33, 33, 179);
  text-decoration: none;
}

.link4 {
  margin-left: 15px;
  color: rgb(33, 33, 179);
  text-decoration: none;
}

.position__line {
  position: absolute;
  width: 80%;
  height: 25%;
  top: 70%;
  background-color: rgb(33, 33, 179);
}

.position__img {
  position: absolute;
  top: 20%;
  right: 0%;
  width: 50%;
}

.position__ttl {
  position: absolute;
  font-size: 70px;
  top: 60%;
}


